.vscode/*
**/build/*
build/*
releases/*
dfu_package
**/test_build/*
logs
.swp
tags
tags.temp
cscope.out
cscope.out.files
cscope.out.temp
tags.lock
compile_commands.json
.cache
**/__pycache__/**
*.csv
venv
*.egg-info
